:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Snippet', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
    color: black;
}

html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    /* scroll-padding-top: 9rem; */
    scroll-behavior: smooth;
}

body{
    background-color: #F5F5FA ;
}

.logo{
    margin-top: 1.5rem;
    margin-left: 4rem;
}

hr{
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;	
	border-width: 1px;
}

.main-container{
    margin: 0 auto; 
    width: 70%;
	/* background-color: #F5F5FA; */
	border-radius: 10px ;
    /* border: 2px solid #6DFFE7; */
	margin-bottom: 10px;
	text-align: center;
	display: block;
}

.check{
	font-size: larger;
	margin-bottom: 40px;
}

.text{
	margin-top: 15px;
	font-weight:600;
	font-size: medium;
}

.button{
	margin: 20px auto;
	background-color: #0069D9;
	width: 25%;
	/* margin-top: 20px; */
	border-radius: 5px;
	height: 50px;
	display: flex;
 	justify-content: space-around;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 1px 2px rgb(185, 182, 182);
	cursor: pointer;
}

.button:hover{
	margin: 20px auto;
	width: 25%;
	/* margin-top: 20px; */
	background-color: #114174;
	border-radius: 5px;
	height: 50px;
	display: flex;
 	justify-content: space-around;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0 0 rgb(185, 182, 182);
}

input{
	background: transparent;
	color: white;
	font-weight:600;
	font-size: large;
	cursor: pointer;
	text-shadow: 1px 1px black;
}

/*--- Responsive Code ---*/
@media screen and (max-width: 1920px) {
	.icon {
		right: 27px;
	}
	h1 {
		margin: 80px 0 40px;
	}
    .logo{
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 1680px) {
	.icon {
		right: 20px;
	}
}
@media screen and (max-width: 1600px) {
	h1 {
		margin: 40px 0;
	}
	.icon-w3 {
		right: 15px;
	}
}
@media screen and (max-width: 1440px) {
	.main-container {
		width: 55%;
	}
  
}
@media screen and (max-width: 1280px) {
	.main-container {
		width: 60%;
	}
}
@media screen and (max-width: 1080px) {
	.main-container {
		width: 70%;
	}
}
@media screen and (max-width: 1024px) {
	.main-container {
		width: 78%;
	}

}
@media screen and (max-width: 900px) {
	.main-container {
		width: 82%;
	}
    .logo{
        margin-bottom: 1rem;
        text-align: center;
        margin-left: 0;
    }
}
@media screen and (max-width: 800px) {
	.main-container {
		width: 88%;
	}
   
}
@media screen and (max-width: 768px) {
	.main-container {
		width: 91%;
	}
}
@media screen and (max-width: 736px) {
	.main-container {
		width: 93%;
	}
	h1 {
		margin: 35px 0;
		font-size: 40px;
	}
}
@media screen and (max-width: 667px) {
	.main-container {
		width: 95%;
	}
}
@media screen and (max-width: 640px) {
	.main-container {
		width: 95%;
	}
}
@media screen and (max-width: 600px) {
	.main-container {
		width: 95%;
	}
}
@media screen and (max-width: 568px) {
	.main-container {
		width: 95%;
	}
	h1 {
		margin: 30px 0;
		font-size: 35px;
	}
	.form-sub input[type="text"], .form-sub input[type="password"], .form-sub input[type="email"] {
		width: 100%;
	}
}
@media screen and (max-width: 480px) {
	.main-container {
		width: 96%;
	}
}
@media screen and (max-width: 414px) {
	.main-container {
		width: 98%;
		padding: 30px 30px;
	}
	h1 {
		margin: 30px 0;
		font-size: 33px;
	}
	.form-sub input[type="text"], .form-sub input[type="password"], .form-sub input[type="email"] {
		width: 100%;
	}
}
@media screen and (max-width: 384px) {
	h1 {
		margin: 20px 0;
		font-size: 30px;
	}
	.form-sub input[type="text"], .form-sub input[type="password"], .form-sub input[type="email"] {
		width: 100%;
		padding: 13px 40px 13px 10px;
	}
}
@media screen and (max-width: 375px) {

}
@media screen and (max-width: 320px) {
	h1 {
		margin: 20px 0;
		font-size: 27px;
		word-spacing: 4px;
		letter-spacing: 2px;
	}
	.main-container {
		padding: 30px 20px;
	}
	.form-sub {
		margin-bottom: 5px;
	}
}
/*--- //Responsive Code ---*/