:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Snippet', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
    color: aqua;
}

html{
    /* font-size: 62.5%; */
    /* overflow-x: hidden; */
    /* scroll-padding-top: 9rem; */
    scroll-behavior: smooth;
}

body{
    min-height: 100vh; 
    /* display: flex; */
    /* align-items: center; */
    background: url(../images/home-img.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo{
    margin-top: 1.5rem;
    margin-left: 4rem;
}

.main-container{
    margin: 0 auto; 
    width: 30%;
    border: 2px solid #6DFFE7;
    padding: 10px 40px 30px 40px;
}

.main-container h1{
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: 2px;
}

/* h1{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 40px 0 0 0;
    letter-spacing: 4px;
    word-spacing: 4px;
    font-family: 'Sirin Stencil', sans-serif;
} */

/* .sub-main{
    position:relative;
	padding: 2.5em;
} */

#alert {
	color: red;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
}

form {
    margin: 0 auto;
    width: 100%;
}

.form-sub{
    border-bottom: 2px solid #39506A;
    position:relative;
    margin-bottom: 20px;
}

.form-sub input[type="text"], .form-sub input[type="password"], .form-sub input[type="email"] {
    outline: none;
    font-size: 15px;
    /* color: #ffffff; */
    padding: 15px 40px 10px 10px;
    letter-spacing: 2px;
    width: 87%;
    border: none;
    -webkit-appearance: none;
    /* margin-bottom: 10px; */
    background: transparent;
	/* font-family: 'Sirin Stencil', cursive; */
    font-family: 'Snippet', sans-serif;
    font-size: large;
}

input[type="submit"] {
    outline: none;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-size: 1.5em;
    /* cursor: pointer; */
    margin-top: 1.5em;
    margin-bottom: 1em;
    background: transparent;
    border: 2px solid #55BDC0;
}

input[type="submit"]:hover{
    background: #55BDC0;
	color:#ffffff;
	transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
}

.icon{
    /* display: inline-block; */
    /* position: absolute; */
    /* right: 12px;
    bottom: 26px; */
    width: 40px;
    height: 40px;
	margin-bottom: -10px;

}

.form-footer{
    margin-top: 0.5rem;
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color:#CBD2DA;
	opacity: 0.8; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:#CBD2DA;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
	color:#CBD2DA;
  }

/*--- Responsive Code ---*/
@media screen and (max-width: 1920px) {
	.icon {
		right: 27px;
	}
	h1 {
		margin: 80px 0 40px;
	}
    .logo{
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 1680px) {
	.icon {
		right: 20px;
	}
}
@media screen and (max-width: 1600px) {
	h1 {
		margin: 40px 0;
	}
	.icon-w3 {
		right: 15px;
	}
}
@media screen and (max-width: 1440px) {
	.main-container {
		width: 33%;
	}
  
}
@media screen and (max-width: 1280px) {
	.main-container {
		width: 36%;
	}
}
@media screen and (max-width: 1080px) {
	.main-container {
		width: 42%;
	}
}
@media screen and (max-width: 1024px) {
	.main-container {
		width: 45%;
	}
	.form-sub input[type="text"], .form-sub  input[type="password"] {
    width: 85.5%;
    }

}
@media screen and (max-width: 900px) {
	.main-container {
		width: 50%;
	}
    .logo{
        margin-bottom: 1rem;
        text-align: center;
        margin-left: 0;
    }
}
@media screen and (max-width: 800px) {
	.main-container {
		width: 55%;
	}
   
}
@media screen and (max-width: 768px) {
	.main-container {
		width: 58%;
	}
}
@media screen and (max-width: 736px) {
	.main-container {
		width: 60%;
	}
	h1 {
		margin: 35px 0;
		font-size: 40px;
	}
}
@media screen and (max-width: 667px) {
	.main-container {
		width: 68%;
	}
}
@media screen and (max-width: 640px) {
	.main-container {
		width: 70%;
	}
}
@media screen and (max-width: 600px) {
	.main-container {
		width: 73%;
	}
}
@media screen and (max-width: 568px) {
	.main-container {
		width: 80%;
	}
	h1 {
		margin: 30px 0;
		font-size: 35px;
	}
}
@media screen and (max-width: 480px) {
	.main-container {
		width: 93%;
	}
}
@media screen and (max-width: 414px) {
	.main-container {
		width: 95%;
		padding: 30px 30px;
	}
	h1 {
		margin: 30px 0;
		font-size: 33px;
	}
	.form-sub input[type="text"], .form-sub input[type="password"] {
		width: 85%;
	}
}
@media screen and (max-width: 384px) {
	h1 {
		margin: 20px 0;
		font-size: 30px;
	}
	.form-sub input[type="text"], .form-sub input[type="password"] {
		width: 82%;
		padding: 13px 40px 13px 10px;
	}
}
@media screen and (max-width: 375px) {

}
@media screen and (max-width: 320px) {
	h1 {
		margin: 20px 0;
		font-size: 27px;
		word-spacing: 4px;
		letter-spacing: 2px;
	}
	.main-container {
		padding: 30px 20px;
	}
	.form-sub {
		margin-bottom: 5px;
	}
}
/*--- //Responsive Code ---*/